.titleCardContainer {
    perspective: 1000px; /* 启用3D效果 */
}

.titleCard {
  display: flex;
  position: relative; /* 使其可以定位 */
  opacity: 1;
  overflow: visible; /* 确保子元素不会被裁切 */
  transform-style: preserve-3d;  /* 使子元素支持3D变换 */
}
