.titleCard {
  display: flex;
  position: relative; /* 使其可以定位 */
  scale: 1;
  opacity: 1;
  transform: translateX(50px);
}

.titleCard:nth-child(1) {
  animation: float 3s ease-in-out infinite;
}

.titleCard:nth-child(2) {
  animation: float 4s ease-in-out infinite;
}

.titleCard:nth-child(3) {
  animation: float 5s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0); /* 初始位置 */
  }
  50% {
    transform: translateY(-15px); /* 向上浮动 */
  }
  100% {
    transform: translateY(0); /* 恢复初始位置 */
  }
}

/* 翻转卡片容器 */
.flipCard {
  perspective: 1000px;
  width: 320px;
  height: 400px;
  cursor: pointer;
}

/* 翻转卡片内部容器 */
.flipCardInner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.3s;
  transform-style: preserve-3d;
}

/* 翻转状态 */
.flipped .flipCardInner {
  transform: rotateY(180deg);
}

/* 正面和背面共用样式 */
.flipCardFront, .flipCardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

/* 背面样式 */
.flipCardBack {
  transform: rotateY(180deg);
  background-size: cover;
  background-position: center;
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden; /* 防止内容溢出 */
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 15px;
}

/* 背面内容 */
.backContent {
  border-radius: 10px;
  width: 100%; /* 考虑padding */
  height: 100%; /* 考虑padding */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-sizing: border-box; /* 确保padding包含在尺寸内 */
  backdrop-filter: blur(2px); /* 可选：背景模糊效果 */
}

.flipCardInner.flipped {
  transform: rotateY(180deg);
}